body{
	text-align:center;
	background-image: linear-gradient(top, #a9dba9, #b6d8c0);   

}
h2{
	font-family: 'Special Elite';
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff) format('woff');
}